@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

* {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font: 1.6rem sans-serif;
    background: url(../asset/jobg.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #ffffffe2;
    border-radius: 1rem;
    margin-bottom: 3%;
    padding-bottom: 2rem;
}

h1 {
    border: .3rem solid transparent;
    max-width: 100%;
    margin: 0 15% 0 15%;
    padding: 4rem 0 4rem 0;
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 21%;
    margin-right: 21%;
    border-radius: 0.125rem;
}

.prestext {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    border-radius: 0.125rem;
    margin: 0 28% 0 28%;
}

section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5rem;
}

.section-title {
    grid-column: 1 / -1;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
    height: 70%;
    margin: 0 auto;
}

figure {
    background-color: rgba(0, 0, 0, 0.896);
    border-radius: 1rem;
    padding-top: 1rem;
}

.content_txt {
    text-align: center;
    color: #fff;
    font-weight: bolder;
}

.btn {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #000000;
    padding: 15px 35px;
    border: solid #000000 2px;
    box-shadow: none;
    border-radius: 50px;
    transition: 998ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
}

.btn img {
    width: 30px;
    margin-left: 0px;
    margin-right: 3px;
    flex-direction: row-reverse;
}

.btn:hover {
    transition: 998ms;
    padding: 15px 50px;
    transform: translateY(-0px);
    background-color: #000000;
    color: #ffffff;
    border: solid 2px #000000;
}

footer {
    text-align: center;
    backdrop-filter: blur(1rem);
    padding: 3rem 0 3rem 0;
}